body{

   background-image:url('plywood.png');

}

.wrapper{

   position:relative;
   width:400px;
   left:-10px;
   margin:0 auto;

}

.back{

   position:absolute;
   top:100px;
   width:470px;
   height:470px;
   z-index:0;
   background-color:#000;
   border-radius:300px;

}

.pad{
  
  width:215px;
  height:215px;
  float:left;
  z-index:1;
  margin:10px;
  opacity:0.6;
}

.shape1{
 
  border-top-left-radius:300px;
  background-color:green;

}

.shape2{

  float:left;
  border-top-right-radius:300px;
  background-color:red;
  clear:right;

}

.shape3{

  float:left;
  border-bottom-left-radius:300px;
  background-color: yellow;
  clear:left;

}

.shape4{

  float:left;
  border-bottom-right-radius:300px;
  background-color:blue;

}

.circle{

   position:absolute;
   top:140px;
   left:140px;
   width:200px;
   height:200px;
   background:#000;
   border-radius:125px;
   z-index:10;

}

.score{

   width:50%;
   float:left;
   text-align:center;

}

.sButton{

   position:absolute;
   width:40%;
   top:20px;
   left:200px;
   margin:0 auto;
  
}

.start{
  
   width:50%;

}
