<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',
            filename='game.css') }}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
            filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static',
            filename='jquery-2.2.4.min.js') }}"></script>
    <script src="{{ url_for('static',filename='game.js') }}" ></script>

  </head>

  <body>

    <div class="update">
       <label id="high">Highest Score:</label><br>
       <label id="yhigh">Your Highest Score:</label><br><br>
       <label>Your name:
           <input type="text" id="name" placeholder="Try to be creative" required/>
       </label>
       <br>
       <label>Your email:
           <input type="email" id="email" name="email" placeholder="No creativity please!" required/>
      </label>
      <br>
      <button id="updateScore" class="btn btn-primary">
           Update Score
      </button>

    </div>

    <div class="wrapper">
     <div class="back">
       <div class="pad shape1">
         <audio preload="auto" class="sound1" data-pad="1">
           <source src="{{ url_for('static',filename='sounds_01.mp3') }}" type="audio/mpeg"/>
           <source src="{{ url_for('static',filename='sounds_01.ogg') }}" type="audio/ogg"/>
        </audio>
       </div>
       <div class="pad shape2">
        <audio preload="auto" class="sound2" data-pad="2">
          <source src="{{ url_for('static',filename='sounds_02.mp3') }}" type="audio/mpeg"/>
          <source src="{{ url_for('static',filename='sounds_02.ogg') }}" type="audio/ogg"/>
        </audio>
      </div>
      <div class="pad shape3">
        <audio preload="auto" class="sound3" data-pad="3">
          <source src="{{ url_for('static',filename='sounds_03.mp3') }}" type="audio/mpeg"/>
         <source src="{{ url_for('static',filename='sounds_03.ogg') }}" type="audio/ogg"/>
       </audio>
      </div>
      <div class="pad shape4">
        <audio preload="auto" class="sound4" data-pad="4">
          <source src="{{ url_for('static',filename='sounds_04.mp3') }}" type="audio/mpeg"/>
         <source src="{{ url_for('static',filename='sounds_04.ogg') }}" type="audio/ogg"/>
        </audio>
      </div>

     <div class="circle"></div>
   </div>

    <div class="score">
      <h2>Score: 0</h2>
    </div>

   <div class="sButton">
     <button class="start btn btn-primary">Start</button>
   </div>

 </div>



</body>
</html>
